#page1 {
    background: aliceblue;
}
#page2 {
    background: #f3eceb;

}
#page3 {
    background: #71a0ab;
}
#page4 {
    background: #566b78;
}
#page5 {
    background: #c3bebc;
}
#page6 {
    background: #757e82;
}

#stacked-chart svg {
    background: #d7d9db;
}

.quote {
    font-style:italic;
    color: #ff650a;
}

body {
    font-size: 22px;
}

.quote {
    font-size: 45px;
    margin-top: 45px;
    margin-bottom: 10px;
}