h1,h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: #678797;
    border-bottom: 1px dashed #ddd6d6;
    padding-bottom: .2em;
}
h3 {
    border: 0;
}

.x-label, .y-label {
    font-size: 15px;
}

.chart-title {
    font-size: 18px;
}

#page0 {
    background-image: url("../img/education.jpg");
    background-size: cover;
}

.section {
    background: whitesmoke;
}

.quote {
    font-style:italic;
    color: white;
}

.quote-author {
    color: white;
}

.title-distance {
    color: white;
    font-size: 90px;
    background: rgb(220, 220, 220); /* Fallback color */
    background: rgba(239, 231, 212, 0.1); /* Black background with 0.5 opacity */
    padding: 20px;
    border: 0;
}

.quote {
    font-size: 45px;
    margin-top: 45px;
    margin-bottom: 10px;
}

#page0 blockquote {
    font-style:italic;
    font-size: 2em;
    background: rgb(220, 220, 220); /* Fallback color */
    background: rgba(239, 231, 212, 0.47); /* Black background with 0.5 opacity */
    padding: 20px;
}

#page0 blockquote p {
    font-size: 1.2em;
    color: white;

}


    /*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    background: rgba(128,128,128, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(128,128,128, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}
.usaMap {
    fill: #b7e9ef;
}

p {
    font-size: .9rem;
    text-align: justify;
}
/*.institute-circle {*/
    /*fill: #9a4557;*/
/*}*/
.mapTotalInstitutions {
    font-size: .8rem;
}
#play {
    /*float: left;*/
    font-size: 2em;
    position: absolute;
    top: -0.4em;
    right: 0;
    cursor: pointer;
    color: #17a2b8;
}


#map {
    position:absolute;
    top:0;
    bottom:0;
    width:80%;
    height: 480px;
    border: 10px solid #FAFAFA;
}

.mapLegends {
    /*position: absolute;*/
    /*left: 15%;*/
}
.mapLegends ul {
    font-size: .8em;
}
.mapwrapper {
    width: 80%;
}

.myDivIcon {
    text-align: center; /* Horizontally center the text (icon) */
    line-height: 40px; /* Vertically center the text (icon) */
}

.mapDataPublic {
    color: #C62F2F;
}
.mapDataPrivateProfitable {
    color: #7D3474;
}
.mapDataPrivateNonProfitableNonRel {
    color: #374B7F;
}
.mapDataPrivateNonProfitableRel {
    color: #307A50;
}

.blurb{
    padding: 50px 0;
}

.chart-padding{
    padding: 20px;
}

.lineGraphLegendText {
    font-size: .8em;
}
.lineGraphCard {
    color: #0376BA;
}
.lineGraphCardList {
    font-size: .9em;
    color: #0376BA;
}

.legend text {
    font-size: .8em;
}

ul {
    font-size: .8em;
}

path , line , text{
    shape-rendering: crispEdges;
}